/****  FONT  ****************************************************************************************************************/
/* To change the font go to google.com/fonts and follow the instructions*/
body{ font-family: 'Open Sans Condensed', sans-serif;} /* Body*/
h1 {font-family: 'Open Sans', sans-serif; } /* Title */
/****************************************************************************************************************************/


/****  BACKGROUND  **********************************************************************************************************/
/* Body background for desktop version  500*/
body{background-color: #8c8c8c; }
@media (max-width: 1280px){body{background: none;}}
/****************************************************************************************************************************/

/* *{border:1px solid;} /* All borders, for edditing purposes*/
/****************************************************************************************************************************/

/****  GENERAL  *************************************************************************************************************/
html {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; height: 100%;} 	
body{line-height: 1.5;font-weight: 400;font-size:110%; height: 100%;overflow-y:scroll;}
#page{position:relative; width:100%;min-height: 100% ;max-width:960px; margin:0 auto; background-color: white;}
*{margin:0;padding:0;transition: all 0s;}
/****************************************************************************************************************************/

/****  HEADER  **************************************************************************************************************/
h1,#tagline{height: 2em; line-height: 2em; white-space: nowrap;text-align: center;margin-left:15%;}
h1{font-size: 200%; font-weight: 100; padding-top: 1em;}
#tagline{border-bottom:10px solid; padding-bottom: 1em;}
/****************************************************************************************************************************/

/****  MENU  ****************************************************************************************************************/
#menu{display: block; position: absolute; left:0; width: 15%; text-align: right;}
#menu a{ display: block; height: 4em; line-height: 4em; white-space: nowrap;
	padding-right: 2em; margin-right: -10px; border-right: 10px solid white;color:inherit;}
#menu a i{display: none; }
/****************************************************************************************************************************/


/****  CONTENTS  ************************************************************************************************************/
#contents{position:relative;margin-left:15%;display: block; text-align: justify;padding: 4em;min-height: 100%;}
h2{display: block;padding: 16px 0;font-size: 120%;text-align: center;font-weight: bold;margin-top: 1em; margin-bottom: 16px; border-bottom:1px solid; border-color: #ddd}
h3{display: block;padding: 0.25em 0 0 0.25em;font-size: 100%;text-align: left;font-weight: bold;margin:2em 0em 0em 0em;}
h3:first-of-type{margin-top:1em;}
p{margin: 0 2em;padding: 0.5em 1em;}
#papertitle{margin: 0 0em;padding: 3em 0em 0em 0em; font-weight: bold; font-size: 105%;}
#paperdescript{margin: 0 0em 0em 0em;padding: 0em 0em;}
#paperauthors{margin: 0 0em 0.5em 0em;padding: 0em 0em;}

ul{margin: 0 2em; padding-left: 2em;}
a{text-decoration: none;}
.center{text-align: center;}
#contents h1{height: 1.5em; line-height: 2em; white-space: nowrap;text-align: center;}
#PageTitle {
	width=100%;
	font-size: 175%;
	font-weight: 100;
	line-height: 1em;
	margin: auto;
	border-bottom:1px solid; padding-bottom: 0.25em;
	border-color: #ddd
}

/****************************************************************************************************************************/


/****  PICTURE  *************************************************************************************************************/
#JMPic{display:block;margin: 0 auto; width: 80%;max-width:400px;height:auto;} /* Controls the size of JMP */
.caption{display: block;text-align: justify;margin: 2em auto; max-width: 500px;}
/****************************************************************************************************************************/


/****  RESPONSIVE  **********************************************************************************************************/
@media (max-width: 980px){h1{padding-top: 0;}}
@media (max-width: 740px){
	#menu a{padding-right: 1em;}
	h3{margin:2em 0 0;}
	ul,p{margin: 0;}
	}
@media (max-width: 600px){
	h1,#tagline{height: 1.5em; line-height: 1.5em; }
	h1{margin-left: 1.5em;}
	#contents,#tagline{margin-left:3em;	}
	#menu {width: 3em; padding: 0; text-align: center;}
	#menu a {width: 3em; height:3em; line-height: 3em;padding: 0; }
	#menu a i{display: inline;}
	#menu a span{display: none;}
	#contents{padding: 3em;}
	p{padding: 16px 0;}
}
@media (max-width: 440px){
	h1{font-size: 150%;margin-left: 2em;height: 2em;line-height: 2em;}
	#tagline{height:0; padding:0; overflow: hidden;border-bottom-width:5px;}
	#menu a{margin-right: -5px; border-right-width:5px;}	
	body{font-size: 90%;}
	#contents{text-align: left;}
}
/****************************************************************************************************************************/


/****  COLOR  ***************************************************************************************************************/
/* 3 color scheme: #A00 for highlights; #733 for links; #ddd for sub-backgrounds A00*/
#body{color: black;}
#tagline{border-color:#A00;}
#current,#menu a:hover{border-right-color: #A00 !important;color: #A00;background-color: #ddd; transition: 0.0s;}
#menu a:hover{border-right-color: #A00 !important;color: #A00;background-color: #ddd; transition: 1s;}
#contents a{color: #733;}
#contents a:hover{background-color: #ddd;color: #8f1818;}
@media (max-width: 600px){#current,#menu a:hover{color: #8f1818 !important;}}
/****************************************************************************************************************************/


