/***********************************************************************************************************************/
/***********************************************************************************************************************
	    file:  style.css
	contents:  Simple style for job market websites
	  author:  Bruno Salcedo
	    date:  November 2014
	 version:  2.0
***********************************************************************************************************************/
/***********************************************************************************************************************/

/***********************************************************************************************************************/
/**************************************************************** font **********************************************/
/* To change the font go to google.com/fonts and follow the instructions*/
body{ font-family: 'Open Sans Condensed', sans-serif;} /* Body*/
h1 {font-family: 'Open Sans', sans-serif; } /* Title */
/***********************************************************************************************************************/
/************************************************************* background **********************************************/
/* Body background for desktop version */
body{background-color: #500; background-image: url("documents/black-linen.png");}
@media (max-width: 1280px){body{background: none;}}
/***********************************************************************************************************************/
/************************************************************** color ***************************************************/
/* 3 color scheme: #A00 for highlights; #733 for links; #ddd for sub-backgrounds*/
#body{color: black;}
#tagline{border-color:#A00;}
#current,#menu a:hover{border-right-color: #A00 !important;color: #A00;background-color: #ddd;}
#contents a{color: #733;}
#contents a:hover{background-color: #ddd;color: #A00;}
@media (max-width: 600px){#current,#menu a:hover{color: #A00 !important;}}
/***********************************************************************************************************************/
/************************************************************  Picture *************************************************/
#JMPic{width: 80%;max-width:280px;height:auto;} /* Controls the size of JMP */

